# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]

.venv/
venv/


# ==========================================
# Environment / Secret
# ==========================================

.env
.env.*
!.env.example

back/.env


# ==========================================
# Node
# ==========================================

node_modules/

front/node_modules/


# ==========================================
# Vite build
# ==========================================

dist/

front/dist/

.vite/


# ==========================================
# IDE
# ==========================================

.idea/
.vscode/


# ==========================================
# OS
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# Logs
# ==========================================

*.log